@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@400;500&display=swap');

*{
        padding: 0;
        margin: 0;
        font-weight: bold;
        font-family: 'Manrope';
        transition: .3s;
}

body{
        width: 100vw;
        overflow-x: hidden;
}

#theme-toggle{
        z-index: 1;
        position: sticky;
        margin: 20px;
        top: 20px;
}

.dark{
        color: #fff;
        background-color:#979797;
}

.dark button{
        color: #fff;
        background-color: #979797;
        border: #fff 2px solid;
}

.dark #backCircle{
        background-color: #fff;
}

#obrigado{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        height: 100vh;
        width: 100vw;
}

.none {
        display: none;
}

.navigation{
        display: flex;
        width: 100vw;
        justify-content: center;
        text-align: center;
        align-items: center;
        gap: 10px;
}

#backCircle{
        position: absolute;
        margin-left: 30vw;
        margin-top: 3vw;
        border-radius: 100%;
        background-color: #b8b8b8;
        filter: blur(100px);
        width: 40vw;
        height: 40vw;
        z-index: -1;
}

#side{
        position: absolute;
        transform: rotate(90deg);
        margin-left: -23vw;
        width: 55vw;
}

header{
        display: flex;
        align-items: center;
        justify-content: space-around;
}

header img{
        width: 5vw;
}

#menu{
        display: flex;
        flex-direction: column;
        gap: 4px;
        z-index: 1;
}

#into{
        display: none;
        border-radius: 0 10px 10px 10px;
        padding: 10px;
        flex-direction: column;
        background-color: #eee;
        margin-top: 25px;
        position: absolute;
}

.open #into {
        display: flex;
}

.open#menu {
        display: block;
}

.open #menu1 {
        width: 20px;
        transform: rotate(45deg);
}

.open #menu2 {
        margin-top: -3px;
        width: 20px;
        transform: rotate(-45deg);
}

.open #menu3 {
        background-color: transparent;
}

#menu1{
        background-color: #000;
        height: 3px;
        width: 20px;
}

#menu2{
        background-color: #000;
        height: 3px;
        width: 17px;
}

#menu3{
        background-color: #000;
        width: 19px;
        height: 3px;
}
#slide{
        width: 500vw;
        display: flex;
        margin-top: -100px;
        justify-content: space-around;
}

#cards{
        margin: 150px;
        display: flex;
        gap: 50px;
}

.card img {
        width: 100%;
        border-radius: 15px;
}

.card{
        display: flex;
        flex-direction: column;
        gap: 30px;
        width: calc(25% - 50px);
}

.fa-heart{
        display: block;
        position: absolute;
        color: #1c1c1c;
        margin: 20px;
}

.fa-beat{
        display: block;
        position: absolute;
        color: #dc143c;
        margin: 20px;
}

.card button.adicionado{
        background-color: #00e658;
        border: #00e658 solid 2px;
}

button {
        border: none;
        border: #1c1c1c solid 2px;
        border-radius: 5px;
        padding: 5px;
        background-color: #Fff;
}

footer{
        width: 100vw;
        align-items: center;
        text-align: center;
        justify-content: center;
        margin: 25px;
}